
<footer>
    <div class="f-info">
      <div class="f-info-socials">
        <span
          ><a href="https://www.linkedin.com/in/yadavravindra536/"><i class="fa-brands fa-linkedin"></i></a
        ></span>
        <span
          ><a href="https://github.com/Ryadav0654?tab=repositories"><i class="fa-brands fa-github"></i></a
        ></span>
        <span
          ><a href="https://instagram.com/ryadav0654/"><i class="fa-brands fa-instagram"></i></a
        ></span>
        <span
          ><a href="https://wa.me/message/TKNTF5O6H5WJM1?src=qr"><i class="fa-brands fa-whatsapp"></i></a
        ></span>
        <span
          ><a href="https://x.com/ravindra_y0654?t=ach19TnJDQt09913tK3Jtw&s=09"><i class="fa-brands fa-twitter"></i></a
        ></span>
      </div>
      <div class="copyright"> Ravindra yadav &copy; copyright 2024</div>
      <div class="f-info-links">
        <ul>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/terms">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>