<% layout("./layouts/boilerplate") %>

<body>
    <div class="thanks-msg">
        <i class="fa-solid fa-handshake icon-handshake"></i>
        <h1>Thank you, <span><%= name %></span> for contacting me!</h1>
    </div>
</body>