<% layout("./layouts/boilerplate") %>

<div class="about-heading">
  <h1>About Me</h1>
</div>
<div class="about">
  <div class="about-image">
    <img src="/assets/Ravi_yadav.png" alt="Ravi_image" />
  </div>

  <div class="about-content">
    <p>
      Greetings! I'm Ravindra Yadav, a second-year BTech student at Indian
      Institute of Information Technology, Bhopal, specializing in MERN stack
      development. <br />

      I am actively honing my skills in web development with a keen focus on
      MERN technologies. I am passionate about leveraging MongoDB, Express.js,
      React.js, and Node.js to create efficient and scalable web applications
      with a deep understanding of responsive design and user experience.
      Committed to continuous learning and staying updated with the latest
      industry trends.
      <br />
      While currently immersed in my studies, I am also actively exploring
      opportunities to apply my skills in real-world projects. Feel free to
      explore my portfolio and get in touch if you are looking for a motivated
      MERN stack developer who is ready to contribute to the success of your
      projects. Let's explore the possibilities and create something remarkable
      together!
    </p>
    <div>
      <button class="resume-btn">
        <a href="https://drive.google.com/file/d/1J6cUFfJ_ce6RZxTGIjY4zxB8CVYkY7mC/view?usp=sharing"
          >Download Resume &nbsp;<i class="fa-solid fa-download"></i
        ></a>
      </button>
    </div>
  </div>
</div>
