<% layout("./layouts/boilerplate") %>


  <div class="about-heading">
    <h1>About Me</h1>
  </div>
  <div class="about">
    <div class="about-image">
      <img src="/assets/Ravi_yadav.png" alt="Ravi_image" />
    </div>

    <div class="about-content">
      <p>
        Greetings! My name is Ravindra Yadav, and I am a dedicated MERN stack
        developer and Coder currently immersed in my studies at the Indian
        Institute of Information Technology, Bhopal. <br />

        As a student pursuing my B.Tech at IIIT Bhopal, I am actively honing
        my skills in web development with a keen focus on MERN
        technologies. A Passionate and dedicated MERN stack Developer with a keen eye for detail and a strong foundation in web technologies like HTML, CSS, JavaScript and React with a deep understanding of responsive design and user experience. Committed to continuous learning and staying updated with the latest industry trends.
        <br />
        While currently immersed in my studies, I am also actively exploring
        opportunities to apply my skills in real-world projects. Feel free
        to explore my portfolio and get in touch if you are looking for a
        motivated MERN stack developer who is ready to contribute to the
        success of your projects. Let's explore the possibilities and create
        something remarkable together!
      </p>
      <div>
        <button class="resume-btn"><a href="resume.pdf">Download Resume &nbsp;<i class="fa-solid fa-download"></i></a></button>
      </div>
    </div>
  </div>

