<% layout("./layouts/boilerplate") %>
  <body>
    <div class="welcome-page">
      <div class="welcome-page-content">
        <div class="wel-page-heading">
            <h1 class="welcome">Welcome,</h1>
        </div>
        <div class="wel-page-heading-sec">
            <div>
                <h1 >I'm &nbsp;</h1>
            </div>
            <div>
                <h1><span id="element">Ravindra Yadav</span></h1>
            </div>
             
        </div>
        
       <div class="wel-page-btn">
        <button class="welcome-page-btn"><a href="https://wa.me/+917408983124">Hire Me&nbsp;<i class="fa-solid fa-chevron-right"></i></a></button>
       
        <button class="welcome-page-btn"><a href="https://drive.google.com/file/d/1tlzOa4hm7lF7Or0wb8Sj1Q7EVs_Mk9Fr/view?usp=drive_link">Resume&nbsp;<i class="fa-solid fa-chevron-right"></i></a></button>
      </div>
       </div>
        
      </div>
      
    </div>

    <!---------------------------------------About section html--------------------------------------------- -->

    <section id="first-section">
      <div class="about-heading">
        <h1>About Me</h1>
      </div>
      <div class="about">
        <div class="about-image">
          <img src="/assets/Ravi_yadav.png" alt="Ravi_image" />
        </div>

        <div class="about-content">
          <p>
            Greetings! I'm Ravindra Yadav, a second-year BTech student at Indian
            Institute of Information Technology, Bhopal, specializing in MERN stack
            development. <br />
      
            I am actively honing my skills in web development with a keen focus on
            MERN technologies. I am passionate about leveraging MongoDB, Express.js,
            React.js, and Node.js to create efficient and scalable web applications
            with a deep understanding of responsive design and user experience.
            Committed to continuous learning and staying updated with the latest
            industry trends.
            <br />
            While currently immersed in my studies, I am also actively exploring
            opportunities to apply my skills in real-world projects. Feel free to
            explore my portfolio and get in touch if you are looking for a motivated
            MERN stack developer who is ready to contribute to the success of your
            projects. Let's explore the possibilities and create something remarkable
            together!
          </p>
        </div>
      </div>
    </section>

    <!--------------------------------------------------Skills section html -------------------------------->

    <section id="second-section">
      <div class="skill-heading">
        <h1>Skills</h1>
      </div>
      <div class="skill">
        <div class="skill-left">
          <div class="skill-language">
            <i class="fa-brands fa-html5" style="color: #e55b1f"></i>
            <br /><span>HTML</span>
          </div>
          <div class="skill-language">
            <i class="fa-brands fa-css3-alt" style="color: #0972c3"></i
            ><br /><span>CSS</span>
          </div>
          <div class="skill-language">
            <i class="fa-brands fa-js" style="color: #ffd43b"></i><br /><span
              >JavaScript</span
            >
          </div>
          <div class="skill-language">
            <i class="fa-brands fa-bootstrap" style="color: #5925f4"></i
            ><br /><span>Bootstrap</span>
          </div>
          <div class="skill-language">
            <i class="fa-brands fa-react" style="color: #0795c5"></i><br /><span
              >ReactJs</span
            >
          </div>
  
          <div class="skill-language">
            <i class="fa-brands fa-node" style="color: #35b706"></i><br /><span
              >NodeJs</span
            >
          </div>
          <div class="skill-language">
            <img src="assets/next-js.svg" alt="next-js" /><br /><span
              >Next JS</span
            >
          </div>
          <div class="skill-language">
            <img src="assets/expressjs-icon.svg" alt="expressjs-icon" /><br /><span
              >Express JS</span
            >
          </div>
        </div>
      </div>
      <div class="skill">
        <div class="skill-left">
          
          <div class="skill-language">
            <img src="assets/mongodb.svg" alt="mongodb" /><br /><span
              >mongodb</span
            >
          </div>
          
          <div class="skill-language">
            <img src="./assets/git.svg" alt="git" /><br /><span
            >Git</span
          >
          </div>
          <div class="skill-language">
            <img src="./assets/python.svg" alt="python" /><br /><span
            >Python</span
          >
          </div>
  
          <div class="skill-language">
            <img src="./assets/tailwind-css.svg" alt="tailwind-css" /><br /><span
              >Tailwind CSS</span
            >
          </div>
          <div class="skill-language">
            <img src="./assets/c-1.svg" alt="c_image" /><br /><span
              >C Language</span
            >
          </div>
          <div class="skill-language">
            <img src="./assets/c++.svg" alt="C++_image" /><br /><span
              >C++ Language</span
            >
          </div>
          
        </div>
      </div>
    </section>

    <!-------------------------------------Project section html ----------------------------------- -->

    <section id="third-section">
      
        <div class="project-heading">
          <h1>Projects</h1>
        </div>
        <div class="project">
          <div class="project-card">
            <div class="project-image">
              <img src="./assets/wanderlust.png" alt="spotify_clone" />
            </div>
            <div class="card-content">
              <h2>HouseHunt</h2>
              <p>HouseHunt is a platform for renting and listing rooms and Homes.</p>
              <button><a href="https://github.com/Ryadav0654/Project-Wanderlust">Show Code</a></button>
            </div>
          </div>
        
          <div class="project-card">
            <div class="project-image">
              <img src="./assets/portfolio-web.png" alt="Portfolio-website" />
            </div>
            <div class="card-content">
              <h2>Portfolio-website</h2>
              <p>Developed a portfolio website using CSS, JS, and ExpressJS with completely responsive.</p>
              <button><a href="https://github.com/Ryadav0654/Portfolio-website">Show Code</a></button>
            </div>
          </div>
        
          <div class="project-card">
            <div class="project-image">
              <img src="./assets/todo_app.png" alt="todo_app" />
            </div>
            <div class="card-content">
              <h2>Todo App</h2>
              <p>Developed a Todo App using ReactJs and Tailwind css with completely responsive.</p>
              <button><a href="https://github.com/Ryadav0654/Todo-App/">Show Code</a></button>
            </div>
          </div>
          
          <div class="project-card">
            <div class="project-image">
              <img src="./assets/spotify_clone.png" alt="spotify_clone" />
            </div>
            <div class="card-content">
              <h2>Spotify Clone</h2>
              <p>Spotify is a music streaming platform. I used HTML, CSS and JavaScript.</p>
              <button><a href="https://github.com/Ryadav0654/spotify-clone">Show Code</a></button>
            </div>
          </div>
          
        </div>
        
        <div class="project">
          <div class="project-card">
            <div class="project-image">
              <img src="./assets/Netflix_clone.png" alt="Netflix_clone" />
            </div>
            <div class="card-content">
              <h2>Netflix Clone</h2>
              <p>Netflix is a streaming platform. I used HTML, CSS and JavaScript.</p>
              <button><a href="https://github.com/Ryadav0654/netflix-clone">Show Code</a></button>
            </div>
          </div>
        
          <div class="project-card">
            <div class="project-image">
              <img src="./assets/bootsrap_Project.png" alt="Bootstrap" />
            </div>
            <div class="card-content">
              <h2>Bussiness Website</h2>
              <p>It is a Bussiness web which provide many services. I used HTML, CSS and Bootstrap.</p>
              <button><a href="https://github.com/Ryadav0654/Bussiness-web">Show Code</a></button>
            </div>
          </div>
          <div class="project-card">
            <div class="project-image">
              <img src="./assets/weather_app.png" alt="calculator" />
            </div>
            <div class="card-content">
              <h2>Weather App</h2>
              <p>Developed a weather App using HTML, CSS, JavaScript and OpenWeather API</p>
              <button><a href="https://github.com/Ryadav0654/weather-app">Show Code</a></button>
            </div>
          </div>
        </div>
    
    </section>

    <!-----------------------------------Contact section html------------------------------------------------ -->

    <section id="forth-section">
      <div class="contact-heading">
        <h1>Contact Me</h1>
      </div>
      <div class="contact">
        <form action="/contact" method="post" >
          <label for="name">Name</label>
          <input type="text" 
          id="name" 
          name="name"
          class="form-control"
           placeholder="Enter your name" 
           required/>
          <label for="number">Mobile Number</label>
          <input
            type="text"
            id="number"
            name="mobileNumber"
            class="form-control"
            placeholder="Enter your whatsapp number"
            
          />
          <label for="gmail">Gmail</label>
          <input
            type="email"
            id="gmail"
            name="email"
            class="form-control"
            placeholder="Enter your gmail"
            required
          />
          <label for="message">Message</label>
          <textarea name="message" placeholder="Write your message" id="message" cols="60" rows="5" required></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
    
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="/public/script.js"></script>
  </body>
</html>
