<% layout("./layouts/boilerplate") %>

<div class="project-heading">
  <h1>Projects</h1>
</div>
<div class="project">
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/wanderlust.png" alt="spotify_clone" />
    </div>
    <div class="card-content">
      <h2>Wanderlust</h2>
      <p>Wanderlust is a platform for short-term and long-term housing rentals.</p>
      <button><a href="https://github.com/Ryadav0654/Project-Wanderlust">Show Code</a></button>
    </div>
  </div>

  <div class="project-card">
    <div class="project-image">
      <img src="./assets/portfolio-web.png" alt="Portfolio-website" />
    </div>
    <div class="card-content">
      <h2>Portfolio-website</h2>
      <p>Developed a portfolio website using CSS, JS, Express and NodeJS with completely responsive.</p>
      <button><a href="https://github.com/Ryadav0654/Portfolio-website">Show Code</a></button>
    </div>
  </div>

  <div class="project-card">
    <div class="project-image">
      <img src="./assets/todo_app.png" alt="todo_app" />
    </div>
    <div class="card-content">
      <h2>Todo App</h2>
      <p>Developed a Todo App using ReactJs and Tailwind css with completely responsive.</p>
      <button><a href="https://github.com/Ryadav0654/Todo-App/">Show Code</a></button>
    </div>
  </div>
  
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/spotify_clone.png" alt="spotify_clone" />
    </div>
    <div class="card-content">
      <h2>Spotify Clone</h2>
      <p>Spotify is a music streaming platform. I used HTML, CSS and JavaScript.</p>
      <button><a href="https://github.com/Ryadav0654/spotify-clone">Show Code</a></button>
    </div>
  </div>
  
</div>

<div class="project">
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/Netflix_clone.png" alt="Netflix_clone" />
    </div>
    <div class="card-content">
      <h2>Netflix Clone</h2>
      <p>Netflix is a streaming platform. I used HTML, CSS and JavaScript.</p>
      <button><a href="https://github.com/Ryadav0654/netflix-clone">Show Code</a></button>
    </div>
  </div>

  <div class="project-card">
    <div class="project-image">
      <img src="./assets/bootsrap_Project.png" alt="Bootstrap" />
    </div>
    <div class="card-content">
      <h2>Bussiness Website</h2>
      <p>It is a Bussiness web which provide many services. I used HTML, CSS and Bootstrap.</p>
      <button><a href="https://github.com/Ryadav0654/Bussiness-web">Show Code</a></button>
    </div>
  </div>
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/weather_app.png" alt="calculator" />
    </div>
    <div class="card-content">
      <h2>Weather App</h2>
      <p>Developed a weather App using HTML, CSS, JavaScript and OpenWeather API</p>
      <button><a href="https://github.com/Ryadav0654/weather-app">Show Code</a></button>
    </div>
  </div>
</div>
