<% layout("./layouts/boilerplate") %>

<div class="project-heading">
  <h1>Projects</h1>
</div>
<div class="project">
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/spotify_clone.png" alt="spotify_clone" />
    </div>
    <div class="card-content">
      <h2>Wanderlust</h2>
      <p>Wanderlust is a platform for short-term and long-term housing rentals</p>
      <button><a href="https://github.com/Ryadav0654/spotify-clone">Show</a></button>
    </div>
  </div>
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/spotify_clone.png" alt="spotify_clone" />
    </div>
    <div class="card-content">
      <h2>Spotify Clone</h2>
      <p>Using HTML and CSS</p>
      <button><a href="https://github.com/Ryadav0654/spotify-clone">Show</a></button>
    </div>
  </div>
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/Netflix_clone.png" alt="Netflix_clone" />
    </div>
    <div class="card-content">
      <h2>Netflix Clone</h2>
      <p>Using HTML and CSS</p>
      <button><a href="https://github.com/Ryadav0654/netflix-clone">Show</a></button>
    </div>
  </div>
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/bootsrap_Project.png" alt="Bootstrap" />
    </div>
    <div class="card-content">
      <h2>Responsive website</h2>
      <p>Using HTML, CSS and Bootstrap</p>
      <button><a href="">Show</a></button>
    </div>
  </div>
  
</div>

<div class="project">
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/calculator.png" alt="calculator" />
    </div>
    <div class="card-content">
      <h2>Calculator</h2>
      <p>Using HTML, CSS and JavaScript</p>
      <button><a href="https://github.com/Ryadav0654/Calculator-">Show</a></button>
    </div>
  </div>
  <div class="project-card">
    <div class="project-image">
      <img src="./assets/weather_app.png" alt="calculator" />
    </div>
    <div class="card-content">
      <h2>Weather App</h2>
      <p>Using HTML, CSS, JavaScript and OpenWeather API</p>
      <button><a href="https://github.com/Ryadav0654/weather-app">Show</a></button>
    </div>
  </div>
</div>
