<% layout("./layouts/boilerplate") %>


    <div class="skill-heading">
      <h1>Skills</h1>
    </div>
    <div class="skill">
      <div class="skill-left">
        <div class="skill-language">
          <i class="fa-brands fa-html5" style="color: #e55b1f"></i>
          <br /><span>HTML</span>
        </div>
        <div class="skill-language">
          <i class="fa-brands fa-css3-alt" style="color: #0972c3"></i
          ><br /><span>CSS</span>
        </div>
        <div class="skill-language">
          <i class="fa-brands fa-js" style="color: #ffd43b"></i><br /><span
            >JavaScript</span
          >
        </div>
        <div class="skill-language">
          <i class="fa-brands fa-bootstrap" style="color: #5925f4"></i
          ><br /><span>Bootstrap</span>
        </div>
        <div class="skill-language">
          <i class="fa-brands fa-react" style="color: #0795c5"></i><br /><span
            >ReactJs</span
          >
        </div>

        <div class="skill-language">
          <i class="fa-brands fa-node" style="color: #35b706"></i><br /><span
            >NodeJs</span
          >
        </div>
        <div class="skill-language">
          <img src="assets/next-js.svg" alt="next-js" /><br /><span
            >Next JS</span
          >
        </div>
        <div class="skill-language">
          <img src="assets/expressjs-icon.svg" alt="expressjs-icon" /><br /><span
            >Express JS</span
          >
        </div>
      </div>
    </div>
    <div class="skill">
      <div class="skill-left">
        
        <div class="skill-language">
          <img src="assets/mongodb.svg" alt="mongodb" /><br /><span
            >mongodb</span
          >
        </div>
        
        <div class="skill-language">
          <img src="./assets/git.svg" alt="git" /><br /><span
          >Git</span
        >
        </div>
        <div class="skill-language">
          <img src="./assets/python.svg" alt="python" /><br /><span
          >Python</span
        >
        </div>

        <div class="skill-language">
          <img src="./assets/tailwind-css.svg" alt="tailwind-css" /><br /><span
            >Tailwind CSS</span
          >
        </div>
        <div class="skill-language">
          <img src="./assets/c-1.svg" alt="c_image" /><br /><span
            >C Language</span
          >
        </div>
        <div class="skill-language">
          <img src="./assets/c++.svg" alt="C++_image" /><br /><span
            >C++ Language</span
          >
        </div>
        
      </div>
    </div>
 
